In [7]:
import yfinance as yf
import pandas as pd
from datetime import datetime

tickerSymbol = 'CL=F'

tickerData = yf.Ticker(tickerSymbol)

tickerDf = tickerData.history(period='1d', start='2022-1-1', end='2023-4-21')

weekly_min_max = tickerDf.resample('M').agg({'Close': ['min', 'max']})
weekly_min_max

                                Close
                                  min         max
Date
2022-01-31 00:00:00-05:00   76.080002   88.150002
2022-02-28 00:00:00-05:00   88.199997   95.720001
2022-03-31 00:00:00-04:00   95.040001  123.699997
2022-04-30 00:00:00-04:00   94.290001  108.209999
2022-05-31 00:00:00-04:00   99.760002  115.070000
2022-06-30 00:00:00-04:00  104.269997  122.110001
2022-07-31 00:00:00-04:00   94.699997  108.430000
2022-08-31 00:00:00-04:00   86.529999   97.010002
2022-09-30 00:00:00-04:00   76.709999   88.480003
2022-10-31 00:00:00-04:00   82.820000   92.639999
2022-11-30 00:00:00-05:00   76.279999   92.610001
2022-12-31 00:00:00-05:00   71.019997   81.220001
2023-01-31 00:00:00-05:00   72.839996   81.620003
2023-02-28 00:00:00-05:00   73.389999   80.139999
2023-03-31 00:00:00-04:00   66.739998   80.459999
2023-04-30 00:00:00-04:00   77.290001   83.260002

In [8]:
today_close = tickerDf.iloc[-1].loc['Close']
print(today_close)

77.29000091552734

In [9]:
min_prices = weekly_min_max['Close']['min'].tolist()
less_than_current = [price for price in min_prices if price < today_close]

max_prices = weekly_min_max['Close']['max'].tolist()
greater_than_current = [price for price in max_prices if price > today_close]

closest_min = min(less_than_current, key=lambda x: abs(x-today_close))
closest_max = min(greater_than_current, key=lambda x: abs(x-today_close))

print("Closest min value:", closest_min)
print("Current value:", today_close)
print("Closest max value:", closest_max)

Closest min value: 76.70999908447266
Current value: 77.29000091552734
Closest max value: 80.13999938964844